{% extends 'base.html' %}

{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block link %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock %}

{% block content %}
<div class="top">
    <div class="divIcon">
        <img id="icon" src="{% static 'icon1.png' %}">
    </div>
    <div class="home-top">
        <h1 id="hello"> Hello, <span id="someone">{{ user }}</span>! <span></span> </h1>
        <p style="text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: clamp(14px, 5vw, 36px);">Take a deep breath and rest your soul :)</p>
    </div>
    <div class="divIcon">
        <img id="icon1" src="{% static 'icon1.png' %}">
        <img id="icon2" src="{% static 'icon2.png' %}">
    </div>
</div>

<div id="MyClockDisplay" class="clock" onload="showTime()"></div>

<div id="tell">
    <p> <span id="feeling" onmouseover="changeColor()">Don't know</span>
        what to do?</p>
    <p> Try to watch some <span><a id="movies" href="{% url 'movies' %}">series</a></span>!</p>
</div>

<h4 id="reach">reach out!</h4>
<div class="contact">
    <p id="contact" style="text-align: center">contact a professional</p>
</div>


<div class="container-slider">
    <div class="box">
        <a href="https://www.instagram.com/inezkristanti/">
            <img class="imgDesign" src="{% static 'inez2.png' %}">
        </a>
        <h4 class="psyName">Inez Kristanti</h4>
        <p class="psyTitle">Clinical Psychologist</p>
    </div>
    <div class="box">
        <a href="https://www.instagram.com/babyjimaditya/?hl=id">
            <img class="imgDesign" src="{% static 'baby2.jpg' %}">
        </a>
        <h4 class="psyName">Baby Jim Aditya</h4>
        <p class="psyTitle">Sexual Psychologist</p>
    </div>
    <div class="box">
        <a href="https://www.instagram.com/nadyapramesrani/?hl=id">
            <img class="imgDesign" src="{% static 'nadya2.jpg' %}">
        </a>
        <h4 class="psyName">Nadya Pramesrani</h4>
        <p class="psyTitle">Clinical Psychologist</p>
    </div>
    <div class="box">
        <a href="https://www.instagram.com/andiniskayanti/">
            <img class="imgDesign" src="{% static 'andini2.png' %}">
        </a>
        <h4 class="psyName">Andini Iskayanti</h4>
        <p class="psyTitle">Clinical Psychologist</p>
    </div>
    <div class="box">
        <a href="https://www.instagram.com/verauli.id/?hl=id">
            <img class="imgDesign" src="{% static 'roslina2.png' %}">
        </a>
        <h4 class="psyName">Roslina Verauli</h4>
        <p class="psyTitle">Family Psychologist</p>
    </div>
    <div class="box">
        <a href="https://www.instagram.com/nidyadwikaputeri/">
            <img class="imgDesign" src="{% static 'nidya2.png' %}">
        </a>
        <h4 class="psyName">Nidya Dwika Puteri</h4>
        <p class="psyTitle">Child Psychologist</p>
    </div>
</div>

<script src="{% static 'home.js' %}"></script>
<script>

    function changeColor() {
        document.getElementById("feeling").style.color = "black";
    }

</script>
{% endblock %}