{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block link %}
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'landingPage.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/base.css' %}" />

{% endblock %}
{% block content %}
<div class="col-lg-12; containerLandingPage ">
    <div class="col-lg-6; sisiKiri">
        <div class="name">
            <p class="words">
                Do you mind telling us
                <span id="yourName">your name</span>?
            </p>
        </div>
        <div class="addName">
            <form action="home/" method="POST" novalidate>
                {% csrf_token %}
                {{ form }}
                <div class="correct">
                    <input id="correct" type="submit" value="THAT'S CORRECT!">
                </div>
            </form>
        </div>
    </div>
    <div class="sisiKanan;col-lg-6">
        <div class="icon">
            <img id="icon" src="{% static 'icon3.png' %}">
        </div>
    </div>
</div>
<div class="col-lg-12; containerLandingPage" style="margin-left: 2vw">
    <p>or do you want to login/signup?</p>
</div>
<div class="col-lg-12; containerLandingPage">
    <a href="{% url 'login' %}">
        <button style="margin-left: 2vw" type="button" class="btn btn-success">Log In</button>
    </a>
    <a href="{% url 'signup' %}">
        <button style="margin-left: 2vw" type="button" class="btn btn-outline-success">Sign Up</button>
    </a>
</div>
<script>
    var i = 0;
    function changeColorName() {
        var doc = document.getElementById("yourName");
        var color = ["#8BF59C", "#FFA62B", "#74C7B8", "#DF7861", "#045762", "#EA2C62", "#9F5F80", "black"];
        doc.style.color = color[i];
        i = (i + 1) % color.length;
    }
    setInterval(changeColorName, 1000);
</script>
{% endblock %}