{% extends 'base.html' %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block link %}
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock %}

{% block content %}


<p id="titleSeries" style="margin-top: 15px; margin-bottom: 15px;
font-family: 'Abril Fatface', cursive;
font-size: 48px;
text-align: center;">
    Watch These Top <span id="series">Series</span>!
</p>
<!-- <section id="query-section" class="text-center container">
    <input id="keyword" ,placeholder="Place your keyword here">
</section> -->

<section id="catalogue-section" class="text-center container">
    <table class="table table-striped table-dark">
        <thead>
            <tr class="title">
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Overview</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- content goes here -->
        </tbody>
    </table>
</section>

<ol id="result">
</ol>

<div>
    <p id="tell">Tell us how are you <span>feeling</span>
        afterwards.</p>
    <div class="form1">
        <form action="{% url 'movies' %}" method="POST">
            {% csrf_token %}
            {{form}}
            <button style="margin-top: 10px; margin-bottom: 10px;" type="submit"> Submit </button>
        </form>
    </div>
</div>
<div class="topButton">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Go Back to The Top</button>
</div>

<script>
    $(document).ready(() => {

        $('span').hover(function () {
            $(this).css("color", "#253031");
        }, function () {
            $(this).css("color", "#8BF59C");
        })

</script>
<script>
        var i = 0;
        function changeColorName() {
            var doc = document.getElementById("series");
            var color = ["#FF8E71", "black"];
            doc.style.color = color[i];
            i = (i + 1) % color.length;
        }
        setInterval(changeColorName, 1500);
</script>
<script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
</script>
<script type="text/javascript">
        //console.log("js masuk");
        $(document).ready(function () {
            //var keyword_value = $("#keyword").val();
            //console.log(keyword_value);
            var called_url = '/movies/data/';
            //console.log(called_url);
            $('#table-body').empty()
            $.ajax({
                url: called_url,
                dataType: 'json',
                type: 'GET',
                success: function (result) {
                    //console.log(result);
                    console.log(result.results);
                    let table_container = $('#table-body')
                    var result_object = $("#result");
                    result_object.empty();
                    for (i = 0; i < result.results.length; i++) {
                        console.log(result.results[i]);
                        var title_tmp = result.results[i].original_name;
                        //var thumbnail = result.results[i].poster_path;
                        var thumbnail_tmp = 'https://image.tmdb.org/t/p/original/' + result.results[i].poster_path;
                        var overview_tmp = result.results[i].overview;
                        let imgCol = '<th scope="row"><img height="150px" width="100px" src="' + thumbnail_tmp + '"></img></th>'
                        let titleCol = '<td class="title-col"><p>' + title_tmp + '</p></td>'
                        let overviewCol = '<td class="author-col"><p>' + overview_tmp + '</p></td>'
                        table_container.append('<tr>' + imgCol + titleCol + overviewCol + '</tr>');
                    }
                }
            });
        });
</script>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
{% endblock %}