.top{
    background-color: #f8ffd1;
    display: flex;
    padding-top: 80px;
}
.top > div{
}

.home-top{
    flex-grow: 3;
    justify-content: center;
}

.divIcon{
    display: flex;
    flex-basis: 150px;
    flex-shrink: 0;
    align-self: flex-end;
}
.icon{
    display: flex;
    max-width: 300px;
}

#hello{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
}

#someone{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    color: #8bf59c;
}
#slogan{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

#reach{
    margin-top: 20px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
}

.contact{
    display: flex;
    justify-content: center;
}

#contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 18x;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #cdffce;
    display:inline-block;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box{
    width: 280px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}


.box:hover .imgDesign {
    opacity: 0.3;
}

.imgDesign{
    width: 80%;
    height: auto;
    border-radius: 15px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.psyName{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.psyTitle{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}