html, body{
    width:100%;
    overflow-x:hidden;
}
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f9f9f9;
}
span {
    color: #8BF59C;
}
.sisiKiri{
    margin-left: 30px;
    margin-top: 60px;
}
p { 
    margin-bottom: 15px;
}
.words{
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    flex-grow: 4;
    justify-content: center;
}
.icon{
    display: flex;
    flex-basis: 150px;
    flex-shrink: 0;
    align-self: flex-end;
}

#icon{
    display: flex;
    max-width: 90%;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
}
@media only screen and (min-width: 1100px) {
    .containerLandingPage{
        display: flex;
    }
    #icon{
        display: flex;
        max-width: 100%;
        min-width: 500px;
    }
}

#id_name{
    background-color: #cdffce;
    border-radius: 10px;
    resize: none;
    width: 50vw; 
    max-height: 35px;;
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}
.correct{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#correct{
    font-family: 'DM Sans', sans-serif;
    border-radius: 46px;
    font-size: 16px;
    background-color: #0d130e;
    display: flex;
    color: white;
}
