@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300&display=swap');

html {
    scroll-behavior: smooth;
}

html, body{
    width:100%;
    overflow-x:hidden;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f9f9f9;
}
.title2 {
    color:#253031;
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(50px, 8vw, 90px);
}
span {
    color: #8BF59C;
}
.title3 {
    color:#253031;
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(36px, 5vw, 90px);
}
.footer{
    margin-top: 10px;
    margin-bottom: 0px;
}
#footer{
    background-color: #f8ffd1;
    font-family: 'Work Sans', sans-serif;
    color: black;
    text-align: center;
    font-size: 15px;
}
