#home{
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
}
#home2{
  color:   #8063C7;
}
#logout{
  font-size: 22px;
}
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #8063C7;
    box-shadow: 0 1px 0 0 #8063C7;
    }
    .active-purple input.form-control[type=text] {
    border-bottom: 1px solid #8063C7;
    box-shadow: 0 1px 0 0 #8063C7;
    }
    .input-group.md-form.form-sm.form-1 input{
        border: 1px solid #bdbdbd;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    .login-page {
        width: 360px;
        padding: 3% 0 0;
        margin: auto;
      }
      .login-form {
        position: relative;
        width: 80;
        height: auto;
        z-index: 1;
        background: #f9f9f9;
        max-width: 300px;
        margin: auto;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      .login-form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 88%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .login-form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #8063C7;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #ffff;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      .login-form button:hover,.form button:active,.form button:focus {
        background: #8063C7;
      }
      .login-form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
      }
      .login-form .message a {
        color: #8063C7;
        text-decoration: none;
      }
      .login-form .register-form {
        display: none;
      }
