{% extends 'base.html' %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<div>
  {% if user.is_authenticated %}
  <div class="main">
    <h3 class="title3" style="margin-top:4vw;">You're <span>Logged</span> In :-D </h3>
    <div class="home" style="text-align: left; margin:2vw">
      <p id="home"> Bring me to the <span><a id="home2" href="{% url 'homeAfterLogin' %}">home</a></span>! </p>
    </div>
    <div class="center" style="text-align: center; margin:2vw">
      <p id="logout"> do you want to logout? </p>
      <a href="{% url 'logout' %}">
        <button class="btn btn-primary active" id="logout2"
          style="background-color: #8BF59C; border-color: #8BF59C;">Logout</button>
      </a>
    </div>
  </div>

  {% else %}
  <div class=default>
    <h1 class="title2" style="text-align: center;"> <span>Login</span></h1>
  </div>
  <div class="login-page">

    <div class="login-form">
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Login" style="color:white ; background-color: #8BF59C;">
      </form>
      <p style="margin-top: 2vw;"> wanna try logging in? input <span>"admin"</span> as the username and the password :=D
      </p>
      <p> or like, register <a href="{% url 'signup' %}">here</a> </p>
    </div>

  </div>
  {% endif %}

</div>

{% endblock %}