{% extends 'base.html' %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block link %}
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'playlist.css' %}" />
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'playlist.js' %}"></script>

<h1 class="judul1">Play<span class="judul2">list</span> </h1>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">Time from server</div>
          <div class="panel-body">
            <p id="serverTime"></p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Time from browser</div>
          <div class="panel-body">
            <p id="localTime"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="d-flex flex-row bd-highlight mb-3">
    <a href="https://open.spotify.com/track/2IAR0DziHCjSu16gR4ihvy?si=qSEGNx2IQ8CWrgmR1XpY0A"><img id="cover-album1" onmouseover="setNewImage1()" onmouseout="setOldImage1()" src="/static/cover1.png"></a>
    <a href="https://open.spotify.com/track/630DpnzdfjdVqv2yLfPbAX?si=cpGIf49tTBKwggHEXd0nmg"><img id="cover-album2" onmouseover="setNewImage2()" onmouseout="setOldImage2()" src="/static/cover2.png"></a>
    <a href="https://open.spotify.com/track/45PxuJqJBnPXZKLxoo9Apj?si=yG6D5RFWSXeMQePyIQQrew"><img id="cover-album3" onmouseover="setNewImage3()" onmouseout="setOldImage3()" src="/static/cover3.png"></a>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="titles">
    <div> &nbsp;  &nbsp; Nothing &nbsp;  &nbsp;  &nbsp; &nbsp; </div>
    <div> &nbsp;  &nbsp; &nbsp; &nbsp; Bertaut &nbsp;  &nbsp;  &nbsp; </div>
    <div> &nbsp;  &nbsp; Superposition</div>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="artists">
    <div> &nbsp;  &nbsp; &nbsp; Bruno Major <i onclick="thumbsUp(this)" class="fa fa-thumbs-up"></i> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div> &nbsp;  &nbsp; Nadin Amizah  <i onclick="thumbsUp(this)" class="fa fa-thumbs-up"></i> &nbsp;  &nbsp;  &nbsp; &nbsp;</div>
    <div> &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; Daniel Caesar <i onclick="thumbsUp(this)" class="fa fa-thumbs-up"></i></div>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="secondrow">
    <a href="https://open.spotify.com/track/4EWBhKf1fOFnyMtUzACXEc?si=mS_Faf80RmO0uc3Vw2zIsg" id="coverAlbum"><img id="cover-album4" onmouseover="setNewImage4()" onmouseout="setOldImage4()" src="/static/cover4.png"></a>
    <a href="https://open.spotify.com/track/6aDyiU2cVrqh33UEnEo3WA?si=cbf64bvCSLCtjn14BiS0EA" id="coverAlbum"><img id="cover-album5" onmouseover="setNewImage5()" onmouseout="setOldImage5()" src="/static/cover5.png"></a>
    <a href="https://open.spotify.com/track/4ZG4aqyBvKk3V3yZBoLToK?si=wqsy4nUsQVio9rZfWOwnmg" id="coverAlbum"><img id="cover-album6" onmouseover="setNewImage6()" onmouseout="setOldImage6()" src="/static/cover6.png"></a>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="titles2">
    <div>  Pluto Projector  &nbsp; </div>
    <div> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 6/10 &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; </div>
    <div> &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; Sulung </div>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="artists2">
    <div> Rex Orange County <i onclick="thumbsUp(this)" class="fa fa-thumbs-up"></i> &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  </div>
    <div> &nbsp; &nbsp; &nbsp; Dodie <i onclick="thumbsUp(this)" class="fa fa-thumbs-up"></i> &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Kunto Aji <i onclick="thumbsUp(this)" class="fa fa-thumbs-up"></i> </div>
</div>

<h3 id="judulTambahKomen">What do you think of the playlist?</h3>

{% if user.is_authenticated %}
    <div class="flex-container" id="formrow2">
        <div class="addName">
            <form action="/playlist/" method="POST">
                {% csrf_token %}
                <h3 class="tambahKomen">Name:</h3>
                {{ form.name }}
                <h3 class="tambahKomen">Comment:</h3>
                {{ form.comment }}
                <button class="btn rounded-pill">Submit</button>
                <button onclick="hide()" class="btn rounded-pill">Show</button>
            </form>
        </div>
    </div>
    <div class="flex-container" id="formrow3"></div>
        <h3 class="judulKomen">Comments</h3>

        <div class="row" id="row">
                {% for comment in comments %}
                    <div class="card quotes">
                            <div class="card-body">
                                <h5 class="card-title"><i>{{ comment.comment }} </h5>
                                <p class="card-text"><hr>{{ comment.name }} <i onclick="thumbsUp(this)" class="fa fa-thumbs-up"></i></p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
    <div></div>

{% else %}
    <div class="flex-container" id="turun">  
        <a href="/login" class="btn rounded-pill">Login</a>atau</a>
        <a href="/signup" class="btn rounded-pill">Signup </a>terlebih dahulu!</a>
    </div>

{% endif %}

<div class="footer">
    <p id="footer"> &copy; Copyright 2020 Group G-1 <span>Rest Your Soul</span>. All Rights Deserved.
    </p>
</div>

{% endblock content %}

{% block footer %}
{% endblock %}
